<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.ub_with_double_keys/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.ub_with_double_keys.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="CTable.browse" caption="msg://com.company.ub_with_double_keys.screen.ctable/CTableBrowse.menu"/>
        <item screen="Ska1.browse" caption="msg://com.company.ub_with_double_keys.screen.ska1/ska1Browse.menu"/>
        <item screen="T004.browse" caption="msg://com.company.ub_with_double_keys.screen.t004/t004Browse.menu"/>
    </menu>

</menu-config>